# Importing a CSV File in Python

##### Steps to import a CSV File
 Step 1: Capture the File Path
 Step 2: Apply the Python code
           a: import pandas as pd
           b: df = pd.read_csv (r'C:\Users\Ron\Desktop\Clients.csv')   
              *read the csv file (put 'r' before the path string to address any special characters in the path, such as '\'). 
              *Don't forget to put the file name at the end of the path + ".csv"
           c: print (df)
 Step 3: Run the Code

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv (r'C:\Users\kllr912\Documents\Data Analytics\Module 2\Brand Preferences\CompleteResponses.csv')

In [3]:
print(df)

            salary  age  elevel  car  zipcode        credit  brand
0     119806.54480   45       0   14        4  442037.71130      0
1     106880.47840   63       1   11        6   45007.17883      1
2      78020.75094   23       0   15        2   48795.32279      0
3      63689.93635   51       3    6        5   40888.87736      1
4      50873.61880   20       3   14        4  352951.49770      0
...            ...  ...     ...  ...      ...           ...    ...
9893   87580.91422   75       1   18        8  282511.90950      1
9894  129181.38200   75       2    7        4  384871.36390      1
9895   97828.08884   66       2   15        0  399446.69620      1
9896   20000.00000   24       1   14        1  223204.64950      1
9897   96430.16419   34       1    2        7  224029.80700      0

[9898 rows x 7 columns]

In [8]:
# Create a GUI to Import a CSV File into Python
import tkinter as tk
from tkinter import filedialog
import pandas as pd

root= tk.Tk()

canvas1 = tk.Canvas(root, width = 300, height = 300, bg = 'lightsteelblue2', relief = 'raised')
canvas1.pack()

def getCSV ():
    global df
    
    import_file_path = filedialog.askopenfilename()
    df = pd.read_csv (import_file_path)
    print (df)
    
browseButton_CSV = tk.Button(text="      Import CSV File     ", command=getCSV, bg='green', fg='white', font=('helvetica', 12, 'bold'))
canvas1.create_window(150, 150, window=browseButton_CSV)

root.mainloop()

    ProductType  ProductNum    Price  x5StarReviews  x4StarReviews  \
0            PC         101   949.00              3              3
1            PC         102  2249.99              2              1
2            PC         103   399.00              3              0
3        Laptop         104   409.99             49             19
4        Laptop         105  1079.99             58             31
..          ...         ...      ...            ...            ...
75   Smartphone         191   200.00             62             25
76   Smartphone         192    99.00             18             17
77      Netbook         182   349.99             22             10
78   Smartphone         197   499.00            368             28
79  GameConsole         200   299.99            421             87

    x3StarReviews  x2StarReviews  x1StarReviews  PositiveServiceReview  \
0               2              0              0                      2
1               0              0              0                      1
2               0              0              0                      1
3               8              3              9                      7
4              11              7             36                      7
..            ...            ...            ...                    ...
75             10             11             12                      9
76              6              2             12                      5
77              6              2             10                      3
78             14             10             23                     22
79             20             14             39                     29

    NegativeServiceReview  Recommendproduct  BestSellersRank  ShippingWeight  \
0                       0               0.9           1967.0           25.80
1                       0               0.9           4806.0           50.00
2                       0               0.9          12076.0           17.40
3                       8               0.8            109.0            5.70
4                      20               0.7            268.0            7.00
..                    ...               ...              ...             ...
75                      3               0.8            720.0            0.90
76                      4               0.7           5742.0            0.70
77                      3               0.3           2723.0            5.00
78                      3               0.9          14086.0            0.90
79                     14               0.9            352.0           10.94

    ProductDepth  ProductWidth  ProductHeight  ProfitMargin  Volume
0          23.94          6.62          16.89          0.15      12
1          35.00         31.75          19.00          0.25       8
2          10.50          8.30          10.20          0.08      12
3          15.00          9.90           1.30          0.08     196
4          12.90          0.30           8.90          0.09     232
..           ...           ...            ...           ...     ...
75          2.80          5.40           0.30          0.14     248
76          2.80          5.30           0.40          0.17      72
77          7.57         10.47           1.43          0.12      88
78          2.70          5.00           0.40          0.10    1472
79         12.00         11.50           7.25          0.12    1684

[80 rows x 18 columns]

# Whirlwind Tour of Python Chapter 3 to 9

# Chapter 3 - Python Language Syntax

In [1]:
# set the midpoint
midpoint = 5

# make two empty lists
lower = []; upper = []

# split the numbers into lower and upper
for i in range(10):
    if (i < midpoint):
        lower.append(i)
    else:
        upper.append(i)
        
print("lower:", lower)
print("upper:", upper)

lower: [0, 1, 2, 3, 4]
upper: [5, 6, 7, 8, 9]

In [2]:
x = 1 + 2 + 3 + 4 +\
    5 + 6 + 7 + 8

In [3]:
x = (1 + 2 + 3 + 4 +
     5 + 6 + 7 + 8)

In [92]:
if x < 4:       
    y = x * 2     
    print(x)

In [93]:
if x < 4:
    y = x * 2
print(x)

1400000.0

In [10]:
x=1+2
x = 1 + 2
x             =        1    +                2

In [11]:
2 * (3 + 4)

14

In [12]:
print('first value:', 1)

first value: 1

In [13]:
print('second value:', 2)

second value: 2

In [14]:
L = [4,2,3,1]
L.sort()
print(L)

[1, 2, 3, 4]

# Chapter 4 - Variables and Objects

In [15]:
# assign 4 to the variable x
x = 4

In [16]:
x = 1         # x is an integer
x = 'hello'   # now x is a string
x = [1, 2, 3] # now x is a list

In [17]:
x = [1, 2, 3]
y = x

In [18]:
print(y)

[1, 2, 3]

In [19]:
x.append(4) # append 4 to the list pointed to by x
print(y) # y's list is modified as well!

[1, 2, 3, 4]

In [20]:
x = 'something else'
print(y)  # y is unchanged

[1, 2, 3, 4]

In [21]:
x = 10
y = x
x += 5  # add 5 to x's value, and assign it to x
print("x =", x)
print("y =", y)

x = 15
y = 10

In [22]:
x = 4
type(x)

int

In [23]:
x = 'hello'
type(x)

str

In [24]:
x = 3.14159
type(x)

float

In [25]:
L = [1, 2, 3]
L.append(100)
print(L)

[1, 2, 3, 100]

In [26]:
x = 4.5
print(x.real, "+", x.imag, 'i')

4.5 + 0.0 i

In [27]:
x = 4.5
x.is_integer()

False

In [28]:
x = 4.0
x.is_integer()

True

In [29]:
type(x.is_integer)

builtin_function_or_method

# Chapter 5 - Operators

In [30]:
# addition, subtraction, multiplication
(4 + 8) * (6.5 - 3)

42.0

In [31]:
# True division
print(11 / 2)

5.5

In [32]:
# Floor division
print(11 // 2)

5

In [33]:
bin(10)

'0b1010'

In [34]:
bin(4)

'0b100'

In [35]:
4 | 10

14

In [36]:
bin(4 | 10)

'0b1110'

In [37]:
a = 24
print(a)

24

In [38]:
a + 2

26

In [39]:
a += 2  # equivalent to a = a + 2
print(a)

26

In [40]:
# 25 is odd
25 % 2 == 1

True

In [41]:
# 66 is odd
66 % 2 == 1

False

In [42]:
# check if a is between 15 and 30
a = 25
15 < a < 30

True

In [43]:
-1 == ~0

True

In [44]:
x = 4
(x < 6) and (x > 2)

True

In [45]:
(x > 10) or (x % 2 == 0)

True

In [46]:
not (x < 6)

False

In [47]:
# (x > 1) xor (x < 10)
(x > 1) != (x < 10)

False

In [48]:
a = [1, 2, 3]
b = [1, 2, 3]

In [49]:
a == b

True

In [50]:
a is b

False

In [51]:
a is not b

True

In [52]:
a = [1, 2, 3]
b = a
a is b

True

In [53]:
1 in [1, 2, 3]

True

In [54]:
2 not in [1, 2, 3]

False

# Chapter 6 - Simple Values

In [55]:
x = 1
type(x)

int

In [56]:
2 ** 200

1606938044258990275541962092341162602522202993782792835301376

In [57]:
5 / 2

2.5

In [58]:
5 // 2

2

In [59]:
x = 0.000005
y = 5e-6
print(x == y)

True

In [60]:
x = 1400000.00
y = 1.4e6
print(x == y)

True

In [61]:
float(1)

1.0

In [62]:
0.1 + 0.2 == 0.3

False

In [63]:
print("0.1 = {0:.17f}".format(0.1))
print("0.2 = {0:.17f}".format(0.2))
print("0.3 = {0:.17f}".format(0.3))

0.1 = 0.10000000000000001
0.2 = 0.20000000000000001
0.3 = 0.29999999999999999

In [64]:
complex(1, 2)

(1+2j)

In [65]:
1 + 2j

(1+2j)

In [66]:
c = 3 + 4j

In [67]:
c.real  # real part

3.0

In [68]:
c.imag  # imaginary part

4.0

In [69]:
c.conjugate()  # complex conjugate

(3-4j)

In [70]:
abs(c)  # magnitude, i.e. sqrt(c.real ** 2 + c.imag ** 2)

5.0

In [71]:
message = "what do you like?"
response = 'spam'

In [72]:
# length of string
len(response)

4

In [73]:
# Make upper-case. See also str.lower()
response.upper()

'SPAM'

In [74]:
# Capitalize. See also str.title()
message.capitalize()

'What do you like?'

In [75]:
# concatenation with +
message + response

'what do you like?spam'

In [76]:
# multiplication is multiple concatenation
5 * response

'spamspamspamspamspam'

In [77]:
# Access individual characters (zero-based indexing)
message[0]

'w'

In [78]:
type(None)

NoneType

In [79]:
return_value = print('abc')

abc

In [80]:
print(return_value)

None

In [81]:
result = (4 < 5)
result

True

In [82]:
type(result)

bool

In [83]:
print(True, False)

True False

In [84]:
bool(2014)

True

In [85]:
bool(0)

False

In [86]:
bool(3.1415)

True

In [87]:
bool(None)

False

In [88]:
bool("")

False

In [89]:
bool("abc")

True

In [90]:
bool([1, 2, 3])

True

In [91]:
bool([])

False

# Chapter 7 - Built-In Data Structures

In [94]:
L = [2, 3, 5, 7]

In [95]:
# Length of a list
len(L)

4

In [96]:
# Append a value to the end
L.append(11)
L

[2, 3, 5, 7, 11]

In [97]:
# Addition concatenates lists
L + [13, 17, 19]

[2, 3, 5, 7, 11, 13, 17, 19]

In [98]:
# sort() method sorts in-place
L = [2, 5, 1, 6, 3, 4]
L.sort()
L

[1, 2, 3, 4, 5, 6]

In [99]:
L = [1, 'two', 3.14, [0, 3, 5]]

In [100]:
L = [2, 3, 5, 7, 11]

In [101]:
L[0]

2

In [102]:
L[1]

3

In [103]:
L[-1]

11

In [104]:
L[-2]

7

In [105]:
L[0:3]

[2, 3, 5]

In [106]:
L[:3]

[2, 3, 5]

In [107]:
L[-3:]

[5, 7, 11]

In [108]:
L[::2]  # equivalent to L[0:len(L):2]

[2, 5, 11]

In [109]:
L[::-1]

[11, 7, 5, 3, 2]

In [110]:
L[0] = 100
print(L)

[100, 3, 5, 7, 11]

In [111]:
L[1:3] = [55, 56]
print(L)

[100, 55, 56, 7, 11]

In [112]:
t = (1, 2, 3)

In [113]:
t = 1, 2, 3
print(t)

(1, 2, 3)

In [114]:
len(t)

3

In [115]:
t[0]

1

In [116]:
t[1] = 4

TypeError: 'tuple' object does not support item assignment

In [117]:
t.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [118]:
x = 0.125
x.as_integer_ratio()

(1, 8)

In [119]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

In [120]:
numbers = {'one':1, 'two':2, 'three':3}

In [121]:
# Access a value via the key
numbers['two']

2

In [122]:
# Set a new key:value pair
numbers['ninety'] = 90
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'ninety': 90}

In [123]:
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}

In [124]:
# union: items appearing in either
primes | odds      # with an operator
primes.union(odds) # equivalently with a method

{1, 2, 3, 5, 7, 9}

In [125]:
# intersection: items appearing in both
primes & odds             # with an operator
primes.intersection(odds) # equivalently with a method

{3, 5, 7}

In [126]:
# difference: items in primes but not in odds
primes - odds           # with an operator
primes.difference(odds) # equivalently with a method

{2}

In [127]:
# symmetric difference: items appearing in only one set
primes ^ odds                     # with an operator
primes.symmetric_difference(odds) # equivalently with a method

{1, 2, 9}

# Chapter 8 - Control Flow

In [1]:
x = -15

if x == 0:
    print(x, "is zero")
elif x > 0:
    print(x, "is positive")
elif x < 0:
    print(x, "is negative")
else:
    print(x, "is unlike anything I've ever seen...")

-15 is negative

In [2]:
for N in [2, 3, 5, 7]:
    print(N, end=' ') # print all on same line

2 3 5 7

In [3]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [4]:
# range from 5 to 10
list(range(5, 10))

[5, 6, 7, 8, 9]

In [5]:
# range from 0 to 10 by 2
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [6]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

In [7]:
for n in range(20):
    # if the remainder of n / 2 is 0, skip the rest of the loop
    if n % 2 == 0:
        continue
    print(n, end=' ')

1 3 5 7 9 11 13 15 17 19

In [8]:
a, b = 0, 1
amax = 100
L = []

while True:
    (a, b) = (b, a + b)
    if a > amax:
        break
    L.append(a)

print(L)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [9]:
L = []
nmax = 30

for n in range(2, nmax):
    for factor in L:
        if n % factor == 0:
            break
    else: # no break
        L.append(n)
print(L)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

# Chapter 9 - Defining and Using Functions

In [10]:
print('abc')

abc

In [11]:
print(1, 2, 3)

1 2 3

In [12]:
print(1, 2, 3, sep='--')

1--2--3

In [13]:
def fibonacci(N):
    L = []
    a, b = 0, 1
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [14]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [19]:
def real_imag_conj(val):
    return val.real, val.imag, val.conjugate()

r, i, c = real_imag_conj(3 + 4j)
print(r, i, c)

3.0 4.0 (3-4j)

In [20]:
def fibonacci(N, a=0, b=1):
    L = []
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [21]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [22]:
fibonacci(10, 0, 2)

[2, 2, 4, 6, 10, 16, 26, 42, 68, 110]

In [23]:
fibonacci(10, b=3, a=1)

[3, 4, 7, 11, 18, 29, 47, 76, 123, 199]

In [24]:
def catch_all(*args, **kwargs):
    print("args =", args)
    print("kwargs = ", kwargs)

In [25]:
catch_all(1, 2, 3, a=4, b=5)

args = (1, 2, 3)
kwargs =  {'a': 4, 'b': 5}

In [26]:
catch_all('a', keyword=2)

args = ('a',)
kwargs =  {'keyword': 2}

In [27]:
inputs = (1, 2, 3)
keywords = {'pi': 3.14}

catch_all(*inputs, **keywords)

args = (1, 2, 3)
kwargs =  {'pi': 3.14}

In [28]:
add = lambda x, y: x + y
add(1, 2)

3

In [29]:
def add(x, y):
    return x + y

In [30]:
data = [{'first':'Guido', 'last':'Van Rossum', 'YOB':1956},
        {'first':'Grace', 'last':'Hopper',     'YOB':1906},
        {'first':'Alan',  'last':'Turing',     'YOB':1912}]

In [31]:
sorted([2,4,3,5,1,6])

[1, 2, 3, 4, 5, 6]

In [32]:
# sort alphabetically by first name
sorted(data, key=lambda item: item['first'])

[{'first': 'Alan', 'last': 'Turing', 'YOB': 1912},
 {'first': 'Grace', 'last': 'Hopper', 'YOB': 1906},
 {'first': 'Guido', 'last': 'Van Rossum', 'YOB': 1956}]

In [33]:
# sort by year of birth
sorted(data, key=lambda item: item['YOB'])

[{'first': 'Grace', 'last': 'Hopper', 'YOB': 1906},
 {'first': 'Alan', 'last': 'Turing', 'YOB': 1912},
 {'first': 'Guido', 'last': 'Van Rossum', 'YOB': 1956}]

# Module Questions

##### Was it straightforward to install Python and all of the libraries?

I would say that installing Python was easy because I installed Anaconda.  Because I did this, all the libraries were already set up and no additional steps were needed to have a complete set up.  Nevertheless, if you just install Python alone, things might not be that easy.  The reason is that you do need to perform various additional steps to confirm Python was installed appropriately, plus other steps to add individually the additional libraries needed.

##### Was the tutorial useful? Would you recommend it to others?

In general the tutorial was useful.  Learning a new code language is not easy, despite other experiences you have had.  The tutorial would not make you an expert or experienced user, nevertheless it does provide the foundations to give you a very good understanding of all the things.  It also helps you compare to other programs and identify differences and similarities.  For a person that is getting his feet wet on Pyhton, I would recommend it.

##### What are the main lessons you've learned from this experience?

1. Lesson 1 - Python is not identical to "R"

Alltough various references refer to the language in Python as easy to learn, I believe it is not that straightforward.  It is also not identical to R.  In my humble opinion, it would take quite some time to learn and get used to it.  I do believe it seems more logical, and it is easier to read.  As a result, completing the tutorial and creating quick references and material you can use would be very important to quickly learn. 

2. Lesson 2 - Create a "Cheat Sheet"

As expressed above, this is not something that you would learn fast and easy.  It would take time, but on the other hand only practicing would make you and expert.  Given that you need to work while learning, an action I would be implementing is to create easy access references or Cheat Sheets for specific areas.  That way I can check back, refresh topics, and move faster in my execution.  Aa I learn more things, I could continue updating them.  

3. Lesson 3 - Pyhton is better for vsualizations

I would consider R a tool that is not great on visualizations, making it difficult to really highlight data and blend it for a good analysis.  I have not had a lot of visibility of all the options Python provides, but as I started learning, the visualizations and creations you can do in the tool are quite amazing.  Histograms, distributions, and other visualizations look sharper and easier than the ones in R.  As a result, I would try to devote a single Cheat Sheet to this area and identify all the potential opportunities.